@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: medium;
}

.main-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

.main-container > header {
  width: 100vw;
  height: 38px;
  position: sticky;
  background-color: rgb(48, 17, 52);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.logo-container {
  height: 38px;
  width: 120px;
  cursor: pointer;
}

.floating-icon:hover,
.logo-container:hover {
  background-color: rgb(78, 43, 82);
  cursor: pointer;
}

.slack-logo {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 90px;
  cursor: pointer;
}

.side-bar {
  height: 100%;
  width: 260px;
  border: 1px solid rgb(78, 43, 82);
  background-color: rgb(58, 19, 62);
  color: rgb(205, 196, 206);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.section-title {
  display: flex;
  align-items: center;
  margin: 10px 10px 5px 15px;
}

.floating-icon {
  padding: 5px;
  width: 15px;
  border-radius: 4px;
}

.channel-container,
.user-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 35px;
}

.channel-container:hover,
.user-container:hover {
  background-color: rgb(48, 17, 52);
  cursor: pointer;
}

.title-text {
  margin-left: 10px;
  cursor: pointer;
}

.channel-icon {
  width: 10px;
}

.side-bar-direct-messages {
  margin-top: 15px;
}

.channel,
.user {
  margin-left: 10px;
}

.selected {
  background-color: rgb(44, 100, 158);
  color: white;
}

.selected:hover {
  background-color: rgb(44, 100, 158);
}

.x-icon {
  color: rgb(205, 196, 206);
  position: absolute;
  left: 240px;
  display: none;
}

.x-icon:hover {
  color: rgb(255, 255, 255);
}

.user-container:hover > .x-icon {
  display: block;
}

.user-indicator {
  margin-left: 10px;
  font-weight: 300;
  color: rgb(169, 161, 170);
}

.profile-icon {
  background-color: rgb(164, 165, 83);
  height: 20px;
  width: 20px;
  display: grid;
  place-content: center;
  border-radius: 3px;
  color: white;
}

.chat-container {
  display: grid;
  grid-template-rows: min-content 9fr 1fr;
  grid-column-start: 2;
  grid-row-start: 2;
}

.chat-header {
  display: flex;
  align-items: center;
  border: 1px solid rgb(226, 226, 226);
  padding: 10px;
  grid-row-start: 1;
  grid-row-end: 2;
}

.chat-header-name {
  font-size: large;
  font-weight: 700;
  margin-right: 3px;
}

.chat-history {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 10px 0px 10px;
}

.chat-input-container {
  display: grid;
  place-items: center;
  grid-row-start: 3;
  grid-row-end: 4;
}

.chat-tools-container {
  width: 95%;
  height: 80%;
  border-radius: 10px;
  border: 1px solid rgb(58, 19, 62);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-input {
  resize: none;
  width: 90%;
  height: 30px;
  padding: 5px;
  margin-right: 5px;
  outline: none;
  font-family: "Lato", sans-serif;
}

.chat-icon {
  padding: 5px;
  width: 15px;
  border-radius: 4px;
  color: rgb(58, 19, 62);
}

.chat-icon:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}

.dashboard-header {
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
}

.add-member {
  background-color: rgb(31, 93, 187);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.add-member:hover {
  background-color: rgb(77, 148, 253);
}

.add-member:active {
  background-color: rgb(31, 93, 187);
}

.sign-out {
  background-color: rgb(168, 0, 0);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.sign-out:hover {
  background-color: rgb(201, 67, 67);
}

.sign-out:active {
  background-color: rgb(168, 0, 0);
}

.rotate {
  transform: rotate(-90deg);
}

.disable-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.add-channel-button {
  margin-left: 90px;
  cursor: pointer;
}
.add-channel-member {
  color: rgb(100, 98, 98);
  cursor: pointer;
  position: relative;
  bottom: 33px;
  left: 270px;
}

.popup-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.424);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup {
  /* border: 1px solid black; */
  background-color: white;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message-container {
  border-bottom: 1px solid rgb(226, 226, 226);
}

.message-header {
  display: flex;
  align-items: center;
}

.message-date {
  z-index: 0;
  color: grey;
  font-weight: 300;
  font-size: 13px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.message-body {
  font-size: 14px;
}

.search-header-container {
  display: flex;
  align-items: center;
}

.search-header {
  width: 40vw;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  height: 25px;
  text-align: center;
  background-color: rgb(128, 115, 129);
  border: 1px solid rgb(0, 0, 0);
  z-index: 1;
  color: white;
}

.search-header::placeholder {
  color: rgb(199, 199, 199);
}

.search-icon {
  margin-right: 10px;
  margin-top: 2px;
}

.search-drop-down {
  background-color: white;
  width: 39vw;
  max-height: 400px;
  top: 31px;
  left: 550px;
  z-index: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.459);
  overflow: scroll;
}

.search-drop-down-add {
  background-color: white;
  width: 600px;
  max-height: 180px;
  z-index: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.459);
  overflow: scroll;
  border-radius: 4px;
}

.search-users {
  color: black;
  padding-left: 10px;
}

.search-users-channel {
  color: black;
  padding-left: 10px;
  display: flex;
  text-align: left;
}

.search-users:hover {
  background-color: rgb(93, 144, 255);
  cursor: pointer;
}
