@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: medium;
  font-family: "Lato", sans-serif;
  line-height: 1.46668;
  font-weight: 400;
  color: #1d1c1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.main-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

.main-container > header {
  width: 100vw;
  height: 38px;
  position: sticky;
  background-color: rgb(48, 17, 52);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.logo-container {
  height: 38px;
  width: 120px;
  cursor: pointer;
}

.floating-icon:hover,
.logo-container:hover {
  background-color: rgb(78, 43, 82);
  cursor: pointer;
}

.slack-logo {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 90px;
  cursor: pointer;
}

.side-bar {
  height: 100%;
  width: 260px;
  border: 1px solid rgb(78, 43, 82);
  background-color: rgb(58, 19, 62);
  color: rgb(205, 196, 206);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.section-title {
  display: flex;
  align-items: center;
  margin: 10px 10px 5px 15px;
}

.floating-icon {
  padding: 5px;
  width: 15px;
  border-radius: 4px;
}

.channel-container,
.user-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 35px;
}

.channel-container:hover,
.user-container:hover {
  background-color: rgb(48, 17, 52);
  cursor: pointer;
}

.title-text {
  margin-left: 10px;
  cursor: pointer;
}

.channel-icon {
  width: 10px;
}

.side-bar-direct-messages {
  overflow: auto;
  max-height: 45vh;
}

.side-bar-channels {
  overflow: auto;
  max-height: 45vh;
}

.channel,
.user {
  margin-left: 10px;
}

.selected {
  background-color: rgb(44, 100, 158);
  color: white;
}

.selected:hover {
  background-color: rgb(44, 100, 158);
}

.x-icon {
  color: rgb(205, 196, 206);
  position: relative;
  display: none;
  left: 25px;
}

.x-icon:hover {
  color: rgb(255, 255, 255);
}

.user-container:hover > .x-icon {
  display: block;
}

.user-indicator {
  margin-left: 10px;
  font-weight: 300;
  color: rgb(169, 161, 170);
}

.profile-icon {
  background-color: rgb(164, 165, 83);
  height: 20px;
  min-width: 20px;
  display: grid;
  place-content: center;
  border-radius: 3px;
  color: white;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 260px;
  white-space: nowrap;
}

.chat-container {
  display: grid;
  grid-template-rows: min-content 9fr 1fr;
  grid-column-start: 2;
  grid-row-start: 2;
}

.chat-header {
  display: flex;
  align-items: center;
  border: 1px solid rgb(226, 226, 226);
  padding: 10px;
  grid-row-start: 1;
  grid-row-end: 2;
}

.chat-header-name {
  font-size: large;
  font-weight: 700;
  margin-right: 3px;
}

.chat-history {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 10px 0px 10px;
}

.chat-input-container {
  display: grid;
  place-items: center;
  grid-row-start: 3;
  grid-row-end: 4;
}

.chat-tools-container {
  width: 95%;
  height: 80%;
  border-radius: 10px;
  border: 1px solid rgb(58, 19, 62);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-input {
  resize: none;
  width: 90%;
  height: 30px;
  padding: 5px;
  margin-right: 5px;
  outline: none;
  font-family: "Lato", sans-serif;
}

.chat-icon {
  padding: 5px;
  width: 15px;
  border-radius: 4px;
  color: rgb(58, 19, 62);
}

.chat-icon:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}

.dashboard-header {
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
}

.add-member {
  background-color: transparent;
  color: rgb(7, 7, 7);
  border: 0.3px solid rgba(70, 69, 69, 0.151);
  border-radius: 3px;
  font-size: 0.7rem;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
}

.add-member:hover {
  background-color: rgb(77, 148, 253);
}

.add-member:active {
  background-color: rgb(31, 93, 187);
}

.sign-out {
  background-color: rgb(168, 0, 0);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.sign-out:hover {
  background-color: rgb(201, 67, 67);
}

.sign-out:active {
  background-color: rgb(168, 0, 0);
}

.rotate {
  transform: rotate(-90deg);
}

.disable-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.add-channel-button {
  margin-left: 90px;
  cursor: pointer;
}
.add-channel-member {
  color: rgb(100, 98, 98);
  cursor: pointer;
  position: relative;
  bottom: 33px;
  left: 275px;
}

.popup-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1d1c1d54;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup {
  /* border: 1px solid black; */
  background-color: white;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message-body-container {
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-top: 2px;
}

.border-bottom {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 10px;
}

.message-body-container:hover > .message-date {
  display: block;
}

.message-date {
  z-index: 0;
  color: grey;
  font-weight: 300;
  font-size: 13px;
  margin-left: 10px;
  position: relative;
  top: 1px;
  display: none;
}

.message-body {
  font-size: 14px;
}

.message-sender {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.sender-name {
  margin-left: 5px;
}

.sender-icon {
  background-color: rgb(164, 165, 83);
  height: 19px;
  min-width: 19px;
  display: grid;
  place-content: center;
  border-radius: 3px;
  color: white;
}

.search-header-container {
  display: flex;
  align-items: center;
}

.search-header {
  width: 40vw;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  height: 25px;
  text-align: center;
  background-color: rgb(128, 115, 129);
  border: 1px solid rgb(0, 0, 0);
  z-index: 1;
  color: white;
}

.search-header::placeholder {
  color: rgb(199, 199, 199);
}

.search-icon {
  margin-right: 10px;
  margin-top: 2px;
}

.search-drop-down {
  background-color: white;
  width: 39vw;
  max-height: 400px;
  top: 31px;
  left: 550px;
  z-index: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.459);
  overflow: scroll;
}

.search-drop-down-add {
  background-color: white;
  width: 525px;
  max-height: 180px;
  z-index: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.459);
  overflow: scroll;
  border-radius: 4px;
}

.search-drop-down-add-secondary {
  background-color: white;
  width: 525px;
  max-height: 180px;
  z-index: 0;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.459);
  overflow: scroll;
  border-radius: 4px;
}

.search-users {
  color: black;
  padding-left: 10px;
}

.search-users-channel {
  color: black;
  padding-left: 10px;
  display: flex;
  text-align: left;
}

.search-users:hover,
.search-users-channel:hover {
  background-color: rgb(93, 144, 255);
  cursor: pointer;
}

.wrapper > header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 2.5rem;
  width: 100vw;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column > img {
  cursor: pointer;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 30px;
  font-size: 13.5px;
}

.right-column a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  max-width: 800px;
}

.main-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  max-width: 800px;
  margin-top: 4rem;
}

.sub-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}

.sub-header-channel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
  width: 100%;
}

.sub-header-channel h1 {
  display: inline-block;
  color: black;
  font-size: 3rem;
}

.popup-channel {
  height: 60px;
  font-size: 2rem;
  margin-left: 900px;
  cursor: pointer;
}

.return-dashboard {
  display: inline-block;
  margin-right: 10px;
}

.popup-header {
  background-color: white;
  border: 1px solid black;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub-header-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}

.sub-header h1 {
  font-size: 3rem;
}

.sub-header-register h1 {
  font-size: 3rem;
}

.sub-header p {
  font-size: 1.5rem;
}

img {
  height: auto;
  width: 180px;
}

.horizontal-ruler {
  height: 1px;
  width: 445px;
  border: none;
  border-top: 1px solid #ddd;
  clear: both;
  margin-top: 50px;
}

.form-container {
  margin-top: 3rem;
}

.form-container-register {
  margin-top: 2rem;
}

.form-container-setup {
  margin-top: 3rem;
}

.form-container span {
  color: red;
}

form {
  text-align: center;
  margin: 0 180px;
}

form input {
  width: 100%;
  height: 44px;
  line-height: 1.333333;
  padding: 11px 12px 13px;
  margin-top: 20px;
  font-size: 22px;
  border: 1px solid rgba(29, 28, 29, 0.3);
  border-radius: 4px;
}

.btn-login {
  color: #fff;
  background-color: #4a154b;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.btn-signup {
  color: #fff;
  background-color: #4a154b;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 70% 10%;
}

footer {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer div {
  margin: 8px;
  font-size: 1.1rem;
  color: rgb(148, 145, 145);
}

.terms-register {
  padding-top: 2rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registered {
  text-align: center;
  font-size: 0.9rem;
}

.registered p {
  color: rgb(129, 128, 128);
}

.registered a {
  text-decoration: none;
}

form div span {
  font-size: 1rem;
  color: red;
}

.visibility-hidden {
  visibility: hidden;
}

.popup2-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1c1d54;
}

.popup2-container {
  border: 1px solid rgba(59, 59, 59, 0.219);
  border-radius: 4px;
  box-shadow: 2px 3px #cac6c6;
  height: 400px;
  display: grid;
  grid-template-rows: 15% 85%;
}

.popup2-container header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(243, 243, 243);
  z-index: 1;
}

.popup2-return {
  padding-right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.popup2-form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 243, 243);
}

.popup2-form {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup2-add {
  padding-top: 20px;
  cursor: pointer;
}

.popup2-submit {
  color: #fff;
  background-color: #4a154b;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.popup2-form span {
  color: red;
}

.channel-members {
  color: black;
}

.channel-members-container {
  max-width: 500px;
}

.loading {
  margin-left: 35px;
  font-size: 14px;
}

.popup-wrapper-2 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1d1c1d54;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-popup-container {
  width: 1000px;
  max-height: 650px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.secondary-popup-upper {
  width: 1000px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.secondary-popup-upper-header {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.secondary-popup-header h1 {
  padding: 5px;
}

.secondary-popup-x {
  font-size: 1.5rem;
  display: flex;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.secondary-popup-form {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondary-popup-form input {
  width: 575px;
  border-radius: 4px;
}

.secondary-popup-form span {
  margin-top: 5px;
  color: red;
}

.secondary-popup-plus {
  color: rgb(100, 98, 98);
  cursor: pointer;
  position: relative;
  left: 260px;
  bottom: 30px;
}

.secondary-popup-email-list {
  margin-top: 5px;
  width: 575px;
  height: 20px;
  color: rgb(100, 98, 98);
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-popup-button {
  width: 575px;
  color: #fff;
  background-color: #6a1e6b;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  height: 44px;
  margin-top: 15px;
  cursor: pointer;
}

.secondary-popup-lower {
  width: 1000px;
  min-height: 100px;
  max-height: 325px;
  padding: 10px;
}

.secondary-popup-lower-header {
  width: 990px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-bottom: 20px;
}

.secondary-popup-lower-member-list {
  width: 100%;
  min-height: 30px;
  max-height: 285px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.search-drop-down-add-secondary-popup {
  background-color: white;
  width: 100%;
  max-height: 180px;
  z-index: 0;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.459);
  overflow-y: scroll;
  border-radius: 4px;
}
